body{
    background-color : black;
    font-family : 'Montserrat',sans-serif;
    color : white;
}

a{
    text-decoration : none;
}
.nav-bar{
    font-family : 'Ubuntu',sans-serif;
    font-weight : 700;
    padding-top : 1.5%;
    font-size : 1.4rem;
}

.navbar-brand{
    font-size : 1.6rem;
    color : white;
}
.nav-link{

    background-color:black;
    border : 1px white solid;
    border-radius : 10px;

    color : white;
    font-size : 1.2rem;
    
}

.nav-link:hover{

    background-color : white;
    color : black;
}

.hero{
    margin-top : 13%;
    margin-bottom : 17%;
    position : relative;
}
.hero-heading{
    font-weight : 700;
    font-size : 6rem;
    color : white;
    position : relative;
}


  
  .hero::before {
    /* Highlight color */
    background-color: #46b96c;
  
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 60%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
  }
h5{
    color : #46b96c;
}
.hero-subheading {
    font-weight:700;
    font-size : 5rem;
    
}
.about{
    margin-top: 10%;
}
.self-img{

    height : 400px;
    width : 300px;
    
}

span{
    position : relative;
}
.section-heading{
    font-weight : 700;
    font-family: 'Open Sans', sans-serif;
    margin-right:0;

}

span::before{
    
    background-color: #46b96c;
  
    content: "";
    position: absolute;
    width: calc(100% + 4px);
    height: 35%;
    left: -2px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);

}
.about-card{

    
background: rgba( 65, 62, 62, 0.25 );
padding : 30px;
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
